[submodule "we-tabcache"]
	path = src/extern/we-tabcache
	url = https://github.com/chzesa/we-tabcache
[submodule "js-syncqueue"]
	path = src/extern/js-syncqueue
	url = https://github.com/chzesa/js-syncqueue
