:root
{
	--sidebar-background-color: #2a2a2e;
	--sidebar-color: #f9f9fa;

	--tab-hover-background-color: #4a4a4f;
	--tab-selected-background-color: #0a84ff;
	--tab-selected-hover-background-color: #45a1ff;
	--tab-active-background-color: #0060df;
	--tab-active-hover-background-color: #45a1ff;

	--tab-discarded-color: #737373;
	--tab-selected-discarded-color: #4a4a4f;
	--tab-active-color: #f9f9fa;

	--badge-background: #f9f9fa;
	--badge-text-color: #f9f9fa;

	--fold-indicator-background-color: #737373;
	--mute-indicator-hover-color: #ff0039;
	--mute-indicator-background-color: #9a0007;

	--favicon-fill-color: #f9f9fa;

	--drag-indicator-color: #f9f9fa;
}