body {
	background-color: var(--sidebar-background-color);
	color: var(--sidebar-color);
	overflow-x: hidden;
}
.tab {
	width: 100%;
	height: 26px;
	clear: both;
}

.tab:hover {
	background-color: var(--tab-hover-background-color);
}

.badge {
	-moz-context-properties: fill;
	fill: var(--badge-background);
	width: 16px;
	height: 16px;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin: 0 5px;
	border-radius: 4px;
	display:inline-block;
	color: var(--badge-text-color);
	font-style: normal;
	pointer-events:none;
}

.badge.fold {
	width: auto;
	padding: 0px 4px;
}

.context {
	width: 2px;
	height: 100%;
	float:left;
	margin-right:-2px;
}

.fold {
	margin: 0 0 0 5px;
	float:left;
	background-color: var(--fold-indicator-background-color);
}

.mute {
	float:right;
	background-color: var(--mute-indicator-background-color);
	width: 14px;
	height: 14px;
	border-radius: 7px;
	border: 1px solid black;
}

.favicon {
	-moz-context-properties: fill;
	fill: var(--favicon-fill-color);
	width: 16px;
	height: 16px;
	float:left;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin-left: 5px;
	display: inline-block;
	background-size: contain;
	pointer-events:none;
}

.attention {
	background-image: url("./icons/indicator-tab-attention.svg");
	width: 8px;
	height: 8px;
	float:left;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin-left: 5px;
	display: inline-block;
	background-size: contain;
	pointer-events:none;
}

@keyframes throbber {
	from {object-position: 0px 0px;}
	to {object-position: calc(-960px * calc(16/16)) 0px;}
}

.throbber {
	object-fit: none;
	animation: throbber 1s steps(60) infinite;
}

.discarded {
	color: var(--tab-discarded-color);
	font-style: italic;
}

.active {
	background-color: var(--tab-active-background-color);
	color: var(--tab-active-color);
}

.tabTitle {
	margin-left: 5px;
	white-space: nowrap;
	line-height: 26px;
	width: 0px;
	display:inline-block;
}

.selection {
	background-color: var(--tab-selected-background-color);
}

.tab.discarded.selection {
	color: var(--tab-selected-discarded-color);
}

.tab.selection:hover {
	background-color: var(--tab-selected-hover-background-color);
}

.tab.active:hover {
	background-color: var(--tab-active-hover-background-color);
}

.childContainer {
	padding-left: 15px;
}

.pinned {
	width: 26px;
	float: left;
	clear: none;
}

.pinned > .badge {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	position: initial;
}

.pinned > .tabTitle {
	display: none;
}

.hidden {
	display: none;
}

#selection-box {
	display: none;
	pointer-events: none;
	position: absolute;
	will-change: transform;
	background-color: #304FFE88;
	border: 1px solid #3D5AFE;
}

.dragIndicator {
	height: 2px;
	width: 100%;
	border: var(--drag-indicator-color) 1px solid;
	position: absolute;
	will-change: left, top, transform;
	pointer-events: none;
}